/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  height: 100%;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: #efdbdc;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body {
  background-image: url('@|page-2.jpg|');
  background-size: cover;
  background-position: center;
  overflow: auto;
}
body, html, .page {
  padding: 0;
  margin: 0;
  position: relative;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.header1 {
  position: absolute;
  top: 0;
}

.pc .no-pc, .phone .no-phone {
  display: none;
}

.phone .header1 {
  display: none;
}

.phone {
  background-image: url('@|main-phone.jpg|');
}

.phone .home {
  background-image: none;
}

.phone .bottom {
  transform-origin: 2vw 0;
  top: 95vw;
  opacity: 0;
  bottom: auto;
  transition: opacity 2s;
}

.phone .enter {
  width: 15vw;
  top: 132vw;
}

.phone .page-2-text {
  display: block;
  margin: 0 auto;
  top: 1px;
  left: -1vw;
  position: fixed;
  height: 40px;
}

.phone .page2 .long-show-box {
  width: 96%;
  padding-top: 60px;
  display: block;
  margin: 0 auto;
}

.phone .page2 .long-show-box img {
  width: 100%;
}

.phone .page2 .page-2-left {
  background-color: #4f759b;
  width: 100%;
  bottom: 0;
  right: 0;
  display: flex;
  height: 13vw;
  justify-content: center;
  align-items: center;
  top: auto;
  left: 0;
  box-shadow: 0 0px 3px #3c3c42;
}
.phone .index-box {
  right: 5px;
  top: 9px;
  transform-origin: right top;
}
.pc .page2 .page-2-left {
  right: 0;
  left: 880px;
}
.phone .page2 .page-2-left .so {
  position: relative;
  left: auto;
  top: auto;
  width: 11vw;
  height: 11vw;
  background-size: 6vw;
}

.phone .page2 .page-2-left .active {
  background-size: 9vw;
}

.phone .index-box {
  transform: scale(0.6);
}

.phone {
  .long-show-box {
    padding-bottom: 80px;
  }
}

.phone [o-hover="backward"]:hover, .phone [o-hover="backward"]:focus, .phone [o-hover="backward"]:active {
  transform: translateX(0px);
}

.phone [o-hover="forward"]:hover, .phone [o-hover="forward"]:focus, .phone [o-hover="forward"]:active {
  transform: translateX(0px);
}

.phone .phone-back {
  position: absolute;
  width: 4vw;
  top: 9px;
  left: 10px;
}

.phone .page2 {
  background-image: url('@|main-phone.jpg|');
}

.phone .page2  .so-0 {background-image: url('@|home2976-active.png|');background-size: auto 80px;}
.phone .page2  .so-1 {background-image: url('@|home2984-active.png|');background-size: auto 80px;}
.phone .page2  .so-2 {background-image: url('@|home2983-active.png|');background-size: auto 80px;}
.phone .page2  .so-3 {background-image: url('@|home2982-active.png|');background-size: auto 80px;}
.phone .page2  .so-4 {background-image: url('@|home2981-active.png|');background-size: auto 80px;}
.phone .page2  .so-5 {background-image: url('@|home2980-active.png|');background-size: auto 80px;}
.phone .page2  .so-6 {background-image: url('@|home2979-active.png|');background-size: auto 80px;}
.phone .page2  .so-7 {background-image: url('@|home2978-active.png|');background-size: auto 80px;}
.phone .page2  .so-8 {background-image: url('@|home2977-active.png|');background-size: auto 80px;}

@media screen and (max-height: 890px) {
  #copyright {
    display: none;
  }
  .home .bamboo-slip {
    bottom: -180px;
  }
}

@media screen and (max-height: 800px) {
  .home .text, .home .canvas1 {
    top: 50px;
  }
}

@media screen and (max-height: 740px) {
  .home .bamboo-slip {
    bottom: -280px;
  }
}