/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: text;
  height: 100%;
  font-size: 14px;
  font-family: 'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei','simsun',sans-serif;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
html {
  background-color: #efdbdc;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body {
  background-image: url('@|page-2.jpg|');
  background-size: cover;
  background-position: center;
  overflow: auto;
}
body, html, .page {
  padding: 0;
  margin: 0;
  position: relative;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: initial;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin:0;
  padding:0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.header1 {
  position: absolute;
  top: 0;
}

.pc .no-pc, .phone .no-phone {
  display: none;
}

.phone .header1 {
  display: none;
}

.phone .home {
  background-image: url('@|main-phone.jpg|');
}

.phone .bottom {
  transform-origin: 2vw 0;
  top: 95vw;
  opacity: 0;
  bottom: auto;
  transition: opacity 2s;
}

.phone .enter {
  width: 15vw;
  top: 132vw;
}

.phone .page-2-text {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 67vw;
  top: 0;
}

.phone .page2 .long-show-box {
  width: 96%;
  padding-top: 40px;
  display: block;
  margin: 0 auto;
}

.phone .page2 .long-show-box img {
  width: 100%;
}

.phone .page2 .page-2-left {
  background-color: #ecf2ff;
  width: 100%;
  bottom: 0;
  right: 0;
  display: flex;
  height: 13vw;
  justify-content: center;
  align-items: center;
  top: auto;
  box-shadow: 0px -1px 6px #c2c1e4;
}
.phone .index-box {
  right: 1%;
}
.pc .page2 .page-2-left {
  right: 0;
  left: 880px;
}
.phone .page2 .page-2-left .so {
  position: relative;
  left: auto;
  top: auto;
  width: 11vw;
  height: 11vw;
}

.phone .index-box {
  transform: scale(0.6);
}

.phone {
  .long-show-box {
    padding-bottom: 80px;
  }
}

.phone [o-hover="backward"]:hover, .phone [o-hover="backward"]:focus, .phone [o-hover="backward"]:active {
  transform: translateX(0px);
}

.phone [o-hover="forward"]:hover, .phone [o-hover="forward"]:focus, .phone [o-hover="forward"]:active {
  transform: translateX(0px);
}